.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
.site_nav {
    display: flex;
    margin: 0;
    list-style-type: none;
    font-weight: 600;
}

.site_nav > .nav_first {
    flex: 3;
    padding: 0.5em;
}

.site_nav > .nav_menu {
    flex: 1;
    padding: 0.5em;
}

.site_nav > .nav_account {
    flex: 1;
    padding: 0.5em;
    color: var(--secondary-color);
}

.site_nav > .nav_theme {
    padding-top: 0.9em;
    width: 4em;
}

.site_nav li {
    margin-top: 0; /* Turn off owl */
}

.site_nav p {
    display: block;
    padding: 0.5em 1em;
    margin: 0;
    color: var(--text-color-dark);
    text-align: center;
    cursor: pointer;
}

.site_nav p:hover {
    color: var(--primary-color);
    border-right: 0.1em solid var(--primary-color);
    border-left: 0.1em solid var(--primary-color);
}

.site_nav h1 {
    display: block;
    margin: 0;
    color: var(--text-color-dark);
    cursor: pointer;
}

.site_nav img {
    margin: 0;
    max-height: 1.4em;
    cursor: pointer;
}

.site_nav > li + li {
    /* When li after another li */
    margin-left: 1.5em;
}

/* Inner nav */

.inner_nav {
    margin: 0;
}

/* Main */
.main {
    flex: 1; /* Because of flex-direction: column it expand on all height of screen */
}

/* Footer */
.footer {
    display: flex;
    height: 5em;
}

.footer > .column_1 {
    flex: 3;
    margin: 0.5em 3em;
}
.footer > .column_2 {
    flex: 1;
    margin: 1em 1em;
}

.footer h3 {
    display: block;
    margin: 0;
    color: var(--text-color-dark);
    cursor: pointer;
}

.footer > .column_1 > p {
    margin-top: 1em;
    font-size: 0.8em;
    display: block;
}

.footer img {
    margin: 0;
    max-height: 2em;
}

.social_link {
    padding-left: 1em;
}
